// compass
$experimental-support-for-opera : 		false !default;
$experimental-support-for-microsoft : 	false !default;
$experimental-support-for-khtml : 		false !default;
$experimental-support-for-mozilla : 	false !default;
