<div class="standard-form-panel error-popup">
	<div class="error-title-group group">
		<div class="icon_alert_25px general-icon"></div>
		<div class="message"><p>{{title}}</p></div>
	</div>
	<div class="error-message-group">
		{{{parseErrors errors}}}
	</div>
	<div class="button-group">
		<input id="submit" type="submit" value="{{t "OK"}}"/>
	</div>
</div>
<div class="full-screen-underlay"></div>
