<li class="walk-through-page page-0">
	<div class="walk-through-page-image walk-through-tc-logo"></div>
	<h2 class="walk-through-page-header">
		<p class="walk-through-page-header-line">{{t "Congrats"}}!</p>
		<p class="walk-through-page-header-line">{{t "WalkThroughPage0Caption1"}}</p>
		<p class="walk-through-page-header-line">{{t "WalkThroughPage0Caption2"}}</p>
	</h2>
	<p class="walk-through-page-caption">
		{{t "SwipeToLearnMore"}} <span class='walk-through-page-image walk-through-arrow'></span>
	</p>
</li>
<li class="walk-through-page page-1">
	<h2 class="walk-through-page-header">{{t "MovingIn"}}</h2>
	<p class="walk-through-page-caption">{{t "WalkThroughPage1Caption1"}}</p>
	<p class="walk-through-page-caption">{{t "WalkThroughPage1Caption2"}}</p>
	<div class="walk-through-page-image"></div>
</li>
<li class="walk-through-page page-2">
	<h2 class="walk-through-page-header">{{t "GettingAround"}}</h2>
	<p class="walk-through-page-caption">{{t "WalkThroughPage2Caption1"}}</p>
	<p class="walk-through-page-caption">{{t "WalkThroughPage2Caption2"}}</p>
	<div class="walk-through-page-image"></div>
</li>
<li class="walk-through-page page-3">
	<h2 class="walk-through-page-header">{{t "StayingConnected"}}</h2>
	<p class="walk-through-page-caption">{{t "WalkThroughPage3Caption1"}}</p>
	<p class="walk-through-page-caption">{{t "WalkThroughPage3Caption2"}}</p>
	<div class="walk-through-page-image"></div>
</li>
