<ul class="page-indicators">
	<li class="page-indicator indicator-0"></li>
	<li class="page-indicator indicator-1"></li>
	<li class="page-indicator indicator-2"></li>
	<li class="page-indicator indicator-3"></li>
</ul>