<button class="tc-button-grey tc-button-on-dark-bg tc-button-rect-long"  id="sign-in">{{t "SignIn"}}</button>
<button class="tc-button-green tc-button-on-dark-bg tc-button-rect-long" id="sign-up">{{t "SignUp"}}</button>