<div class="trip-summary-icon"><img src="{{previewUrl}}" alt="{{name}}" height="38" width="38" /></div>
<div class="trip-info-group">
	<span class="trip-name">{{name}}</span>
	<span class="trip-date">{{sidemenuSummaryDate}}</span>
</div>
<div class="next btn_arrow_dark button-icon"></div>
