<ul>
	<li id="my-trips">
		<div class="group-toolbar-icon icon_mainmenu_mytrips_45px main-menu-icon"></div>
		{{t "Trips"}}
	</li>
	<li id="new-trip">
		<div class="group-toolbar-icon icon_mainmenu_add_45px main-menu-icon"></div>
		{{t "NewTrip"}}
	</li>
	<li id="contacts">
		<div class="group-toolbar-icon icon_mainmenu_contacts_45px main-menu-icon"></div>
		{{t "Contacts"}}
	</li>
	<li id="logout">
		<div class="group-toolbar-icon icon_mainmenu_logout_45px main-menu-icon"></div>
		{{t "Logout"}}
	</li>
</ul>