<li class="list-row-success">
	<div class="list-row-flat-icon general-icon icon_success_45px"></div>
	<div class="list-row-main">
		<p class="tc-label-medium">
			{{t "ImportContactsSuccess1"}} {{pluralize importCount "ImportContactsSuccess2"}} {{t "ImportContactsSuccess3"}}
		</p>
	</div>
	<div id="dismiss" class="list-row-flat-icon general-icon icon_dismiss_gray_25px"></div>
</li>