<h2>COOKIES POLICY</h2>
<p>Last modified: June 27, 2013</p>
<ol>
	<li>1. <span class="cookie-header">What is a cookie?</span>
		<p>A cookie is a piece of data that is stored on a computer, tablet or other device ("device") used to browse the Internet so that that device can be recognized at a later time.</p>
		<p>It is your choice whether or not you allow cookies to be placed on your device.  For specific information about managing and controlling cookies, please refer to <span class="cookie-header">Managing cookies</span> below.</p>
	</li>
	<li>2. <span class="cookie-header">Our cookies policy</span>
		<p>The TripCase service (the "service") attempts to place certain cookies on your device when you visit the TripCase site. We have listed for you below the types of cookies we use, and what we use them for:</p>
		<table class="cookie-table">
			<tbody>
				<tr>
					<th class="cookie-table-header">Cookie Type</th>
					<th class="cookie-table-header">Cookie Purpose</th>
				</tr>
				<tr>
					<td class="cookie-table-data">Session cookies</td>
					<td class="cookie-table-data">These cookies are used to track your session state as you interact with the service.</td>
				</tr>
				<tr>
					<td class="cookie-table-data">Identity cookies</td>
					<td class="cookie-table-data">These cookies are set at your request to have the application remember you the next time you return to the service using the device.</td>
				</tr>
				<tr>
					<td class="cookie-table-data">Optimization cookies</td>
					<td class="cookie-table-data">These cookies are used to track usage of the services we offer in order to improve the usability of our service.</td>
				</tr>
				<tr>
					<td class="cookie-table-data">Advertising cookies</td>
					<td class="cookie-table-data">These cookies are used to measure and improve the effectiveness of our advertising.</td>
				</tr>
			</tbody>
		</table>
		<p>In order to fully-utilize the service, your device should be set to accept cookies, as much of the service functionality only works via the use of cookies. Cookies placed when you visit the TripCase site do not harm your device in any way or recognize you personally as an individual; they only recognize the device or browser you are using. Cookies placed when you visit the TripCase site do not store any of your personal or sensitive information (such as your name, email address or travel details).</p>
	</li>
	<li>3. <span class="cookie-header">Managing cookies</span>
		<ul>
			<li><span class="cookie-header">What happens if I don't allow cookies?</span>
				<p>If cookies aren't enabled on your device, your experience with the service or access to the service could be limited (for instance, you may not be use all the features of the service or access the service via a browser). </p>
			</li>
			<li><span class="cookie-header">How do I disable/enable cookies?</span>
				<p>You can disable/enable cookies via your Internet browser or via settings on your mobile device. We have explained how you may do this via some of the main Internet browsers below. </p>

				<label class="cookie-header-bold">Safari</label>
				<ol>
					<li>1. In the tools menu, select "preferences"</li>
					<li>2. Select the "privacy"" icon</li>
					<li>3. This will bring up options for cookies and you can choose to enable or disable them by clicking on the checkbox.</li>
				</ol>

				<label class="cookie-header-bold">Google Chrome</label>
				<ol>
					<li>1. In the settings menu, select  "show advanced settings" at the bottom of the page</li>
					<li>2. Select the "content settings" button in the privacy section</li>
					<li>3. The top section of the page that then appears tells you about cookies and allows you to set the cookies you want. It also allows you to clear any cookies currently stored.</li>
				</ol>

				<label class="cookie-header-bold">Mozilla Firefox</label>
				<ol>
					<li>1. In the tools menu, select "options"</li>
					<li>2. Select the privacy tab in the options box</li>
					<li>3. From the dropdown choose, "Use Custom Settings for History". This will bring up the options for cookies and you can choose to enable or disable them by clicking the checkbox.</li>
				</ol>

				<label class="cookie-header-bold">Internet Explorer 6+</label>
				<ol>
					<li>1. In the tools menu, select "Internet Options"</li>
					<li>2. Click the "privacy" tab</li>
					<li>3. You will see a privacy settings slider which has six settings that allow you to control the number of cookies that will be placed: Block All Cookies, High, Medium High, Medium (default level), Low, and Accept All Cookies.</li>
				</ol>
			</li>
			<li><span class="cookie-header">How can I opt out of advertising cookies?</span>
				<p>If you wish to prevent a third-party advertiser from collecting your information, you may either visit each ad network's website individually and opt out at that location, or you may visit the National Advertising Initiative (NAI) opt-out site to opt-out of all network advertising cookies.   Click here for the NAI gateway opt-out site:  http://www.networkadvertising.org/choices/Consumer Opt-out | NAI: Network Advertising Initiative.  This site will also allow you to review the third party advertising companies' privacy statements.</p>
			</li>
		</ul>
	</li>
</ol>