<form action="#forgot-password-confirm" id="forgot-password-confirm-form" class="standard-form-panel">

	<div class="instruction-header">
		{{t "ResetSent"}} {{emailaddr}}
	</div>

	<div class="instruction">
		<p class="instruction-info">{{t "ResetInstruction"}}</p>
	</div>

	<div class="actions">
		<button class="submit">{{t "Continue"}}</button>
	</div>

</form>
