<form action="#forgot-password-user" id="forgot-password-form" class="standard-form-panel">

	<div class="instruction">
		<p class="instruction-info">{{t "ResetPrompt"}}</p>
	</div>

	<div id="email-group" class="input-group">
		<div class="label"><p>{{t "Email"}}</p></div>
		<div class="input-container"><input id="email" name="email" type="email"/></div>
	</div>

	<div class="actions">
		<button class="submit"><span>{{t "ResetPassword"}}</span><span class="loader light">{{t "Loading"}}</span></button>
	</div>

</form>

