<form action="#sign-up-confirm" id="sign-up-confirm-form" class="standard-form-panel">
	<div class="instruction">
		<p class="instruction-info">{{t "SignUpCompleteConfirmation"}}</p>
	</div>

	<div class="actions">
		<button class="submit">{{t "OK"}}</button>
	</div>
</form>
