<div class="overlay-wrapper overlay-dismiss-fullscreen-js">
	<div class="overlay-popup">
		<div class="overlay-group-action-view-main">
			<div class="overlay-icon overlay_action_view_arrow_01"></div>
			<h1 class="overlay-header">{{t "OverlayActionViewMainHeader"}}</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayActionViewMainContent"}}</p>
			</div>
		</div>
		<div class="overlay-group-action-view-details">
			<div class="overlay-icon overlay_action_view_circle_01"></div>
			<h1 class="overlay-header">{{t "OverlayActionViewDetailsHeader"}}</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayActionViewDetailsContent"}}</p>
			</div>
		</div>
		<div class="overlay-group-action-view-items">
			<h1 class="overlay-header">
				<span class="overlay-icon overlay_action_view_arrow_02"></span>
				{{t "OverlayActionViewItemsHeader"}}
				<span class="overlay-icon overlay_action_view_arrow_03"></span>
			</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayActionViewItemsContent"}}</p>
			</div>
		</div>
		<div class="overlay-group-action-view-messages">
			<h1 class="overlay-header">{{t "OverlayActionViewMessagesHeader"}}</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayActionViewMessagesContent"}}</p>
			</div>
			<div class="overlay-icon overlay_action_view_arrow_04"></div>
		</div>
	</div>
</div>
