<div class="overlay-wrapper overlay-dismiss-fullscreen-js">
	<div class="overlay-popup">
		<div class="overlay-group-import-contact">
			<div class="overlay-icon overlay_contacts_arrow_01"></div>
			<h1 class="overlay-header">{{t "OverlayImportContactMain"}}</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayImportContactMainContent"}}</p>
			</div>
		</div>
	</div>
</div>
