<div class="overlay-wrapper overlay-dismiss-fullscreen-js">
	<div class="overlay-popup">
		<div class="overlay-group-create-trip">
			<h1 class="overlay-header">{{t "OverlayCreateTripAuto1"}}</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayCreateTripAuto2"}}</p>
				<p>{{t "OverlayCreateTripAuto3"}}</p>
			</div>
			<p class="overlay-emphasized">trips@tripcase.com</p>
		</div>
		<div class="overlay-group-create-trip-continue">
			<h1 class="overlay-header">{{t "OverlayCreateTripManual1"}}</h1>
			<div class="overlay-content-group">
				<p>{{t "OverlayCreateTripManual2"}}</p>
			</div>
		</div>
	</div>
</div>
