<div id="carousel-header" class="carousel-header"></div>
<div id="trip-cards"></div>
<div id="trip-messages"></div>
<div class="loader light lg"></div>
<div class="no-connection">No Network Connection</div>
