<form action="#import-trip" id="import-trip-form" class="standard-form-panel">

	<div class="input-group">
		<div class="label wide"><p>{{t "RecordLocatorOrTripId"}}</p></div>
		<div class="input-container thin"><input id="tripid" name="tripid" type="text" autocomplete="off" autocapitalize="off" autocorrect="off" /></div>
	</div>

	<div class="input-group">
		<div class="label wide"><p>{{t "TravelerLastName"}}</p></div>
		<div class="input-container thin"><input id="lastname" name="lastname" type="text" autocomplete="off" autocapitalize="off" autocorrect="off" /></div>
	</div>

	<div class="actions">
		<button class="submit"><span>{{t "Import"}}</span><span class="loader light">{{t "Loading"}}</span></button>
	</div>

</form>

