
<form>
<div class="search-component">
	<input class="search-query" id="search-term" name="search-term" size="16" type="text"  placeholder="{{t "CountryNameOrCode"}}" autocomplete="off" autocapitalize="off" autocorrect="off">
	<button class="search-submit" type="button"><span class="general-icon icon_arrow_solid">{{t "Search"}}</span></button>
</div>
</form>
