//
// GLOBAL VARIABLES
//
//	SASS variables used throughout the TripCase SASS
//	library. Use ALL CAPS for variables to denote
//	global variable.
//

// Layout variables
$GUTTER: 12px;
$STATUS-BAR-PADDING: 20px;
$OFFLINE-BAR-PADDING: 15px;
$HEADER-HEIGHT: 43px;
$HEADER--HEIGHT-TALL: 70px;