<form action="#name-trip" id="name-trip-form" class="standard-form-panel">

	<div class="instruction">
		<p class="instruction-info">{{t "CombineAreYouSure"}}</p>
	</div>

	<div class="input-group">
		<div class="label"><p>{{t "TripName"}}</p></div>
		<div class="input-container"><input id="tripname" name="tripname" type="text" value="{{name}}"/></div>
	</div>

	<div class="actions">
		<button class="submit"><span>{{t "Save"}}</span><span class="loader light">{{t "Loading"}}</span></button>
	</div>

</form>
