<div class="preview">
	<img src="{{previewUrl}}" height="65" width="65" :/>
</div>
<div class="destination-group">
	<div class="title">{{name}}</div>
	{{#if destination}}<div class="city-state">{{destination}}</div>{{/if}}
	<div class="date">{{startEndDate start_time end_time}}</div>
</div>
