<form action="#confirm-items" id="confirm-items-form" class="standard-form-panel">
	<div class="mytrips-page">
		<div class="list-panel"></div>
	</div>

	<div class="actions">
		<button id="confirm-items-form-submit" class="submit"><span>{{t "Continue"}}</span><span class="loader light">{{t "Loading"}}</span></button>
	</div>
</form>

