<div class="mytrips-trip-item-group">
	<div class="general-icon {{icon}}"></div>
	<div class="title-group">
		<div class="title">{{item_title_mytrips}}</div>
		{{#if item_sub_title_mytrips}}
			<div class="sub-title">{{item_sub_title_mytrips}}</div>
		{{/if}}
	</div>
</div>