<form action="#confirm-delete-trips" id="confirm-trips-form"  class="standard-form-panel">

	<div class="instruction">
		<p class="instruction-info">{{t "DeleteInstruct"}}</p>
	</div>

	<div class="mytrips-page">
		<div class="list-panel"></div>
	</div>

	<div class="actions">
		<button class="submit warning-button"><span>{{t "Continue"}}</span><span class="loader light">{{t "Loading"}}</span></button>
	</div>

</form>

