<form action="#create-trip" id="create-trip-form" class="standard-form-panel">

	<div id="trip-name-group" class="input-group">
		<div class="label"><p>{{t "TripName"}}</p></div>
		<div class="input-container"><input id="tripname" name="tripname" type="text"/></div>
	</div>

	<div class="actions">
		<button class="submit"><span>{{t "Continue"}}</span><span class="loader light">{{t "Loading"}}</span></button>
	</div>

	<div class="instruction-centered">{{t "CreateTripInstruct1"}}<span class="instruction-emphasis">{{t "CreateTripInstruct2"}}</span></div>

</form>

