<div class='mytrips-create-bar-panel group'>
	<div id='create-trip'>
		<div class='add icon_add_32px general-icon'></div>
		<div class='title'>
			{{t "CreateANewTrip"}}
		</div>
		<div class='next btn_arrow button-icon'></div>
	</div>
	<div id='manage-trips'>
		<div class='add icon_edit_32px general-icon'></div>
		<div class='title'>
			{{t "ManageTrips"}}
		</div>
		<div class='next btn_arrow button-icon'></div>
	</div>
</div>