<div class="trip-items standard-form-panel error-popup">
		<div class="error-title-group">
		<div class="general-icon icon_alert_25px"></div>
		<div class="message"><p>{{t "DeleteEmailAddr"}}</p></div>
	</div>

	<div class="error-message-group">
		<p>{{t "DeleteEmailAddrWarning"}} <span class="item-title">{{email}}</span></p>
	</div>

	<div class="button-group display-box">
		<div class="flex-8">
			<input id="continue" type="submit" value="{{t "Delete"}}" class="submit warning-button"></span><span class="loader light">{{t "Loading"}}</span></input>
		</div>
		<div class="flex-1"></div>
		<div class="flex-8">
			<input id="cancel" type="submit" value="{{t "Cancel"}}" class="submit cancel-button"><span class="loader light">{{t "Loading"}}</span></input>
		</div>
	</div>
</div>
<div class="full-screen-underlay"></div>