<form class="standard-form-panel search display-box" action="#search" autocomplete="off" id="search-form">
	<input type="search" autocomplete="off" class="flex-9" placeholder="{{placeholder_text}}" id="query" autocorrect="off"/>
	<div id="search" class="flex-1 general-icon icon_arrow_solid" autocomplete="off" />
</form>
