<section>
	{{#if legendUrl}}
    <div class="u-text-center"><img {{{legendUrl}}} /></div>
	<div class="u-text-center"><img {{{seatMapUrl}}} /></div>
	{{else}}
    {{t "NoSeatMap"}}
	{{/if}}
</section>
